body {
     font-family: sans-serif; padding: 40px; background: #eef2f3; }

    .box {
         background: white;
         max-width: 320px;
         padding: 20px;
         border-radius: 8px;
         margin: 0 auto;
        }

    input, button {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        box-sizing: border-box;
     }

    .mensagem { font-weight: bold; margin-top: 10px; }
    .permitido { color: green; }
    .negado { color: red; }
    .melhoridade{color:blueviolet}
    .naonasceu{color:sienna}